/*Logo*/
.html-logo {
  position: relative;
}
.html-logo .name {
  margin-top: -20px;
  margin-bottom: 0px;
}
.html-logo .dots {
  position: absolute;
  right: 0px;
  width: 20px;
  /*transition: all 0.3s;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      -moz-transition: all 0.3s;*/
}
.html-logo .dots .dot-1,
.html-logo .dots .dot-2,
.html-logo .dots .dot-3{
  position: relative;
  width: 8px;
  height: 8px;
  background: white;
  display: block;
  float: right;
  margin: 1px;
}
.html-logo .name {
  font-weight: 900;
  font-size: 1.2em;
  display: inline;
}
.html-logo .dots {
  display: inline-block;
  width: 40px;
  position: relative;
  top:10px;
}
.html-logo .dots .dot-1,
.html-logo .dots .dot-2,
.html-logo .dots .dot-3 {
  width: 15px;
  height: 15px;
}
@media (max-width: 767px) {
  .html-logo .dots {
    right: -30px;
    top: 0px;
  }
}
/*Animation*/
/*Animation/Dot-1*/
@-moz-keyframes dot-1-cycle {
  0%,
  68% {
    left: 0px;
    top: 0px;
  }
  84%,
  100% {
    left: 20px;
    top: 0px;
  }
}
@-webkit-keyframes dot-1-cycle {
  0%,
  68% {
    left: 0px;
    top: 0px;
  }
  84%,
  100% {
    left: 20px;
    top: 0px;
  }
}
@keyframes dot-1-cycle {
  0%,
  68% {
    left: 0px;
    top: 0px;
  }
  84%,
  100% {
    left: 20px;
    top: 0px;
  }
}
/*Animation/Dot-2*/
@-moz-keyframes dot-2-cycle {
  0%,
  52% {
    left: 20px;
    top: 0px;
  }
  68%,
  100% {
    left: 20px;
    top: 20px;
  }
}
@-webkit-keyframes dot-2-cycle {
  0%,
  52% {
    left: 20px;
    top: 0px;
  }
  68%,
  100% {
    left: 20px;
    top: 20px;
  }
}
@keyframes dot-2-cycle {
  0%,
  52% {
    left: 20px;
    top: 0px;
  }
  68%,
  100% {
    left: 20px;
    top: 20px;
  }
}
/*Animation/Dot-3*/
@-moz-keyframes dot-3-cycle {
  0%,
  36% {
    left: 20px;
    top: 20px;
  }
  52%,
  84% {
    left: 0px;
    top: 20px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}
@-webkit-keyframes dot-3-cycle {
  0%,
  36% {
    left: 20px;
    top: 20px;
  }
  52%,
  84% {
    left: 0px;
    top: 20px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}
@keyframes dot-3-cycle {
  0%,
  36% {
    left: 20px;
    top: 20px;
  }
  52%,
  84% {
    left: 0px;
    top: 20px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}
.html-logo .dots {
  width: 40px;
  height: 40px;
}
.html-logo .dots .dot-1,
.html-logo .dots .dot-2,
.html-logo .dots .dot-3 {
  position: absolute!important;
}
.html-logo .dots .dot-1 {
  -moz-animation: dot-1-cycle 3s infinite linear;
  -o-animation: dot-1-cycle 3s infinite linear;
  -webkit-animation: dot-1-cycle 3s infinite linear;
  animation: dot-1-cycle 3s infinite linear;
}
.html-logo .dots .dot-2 {
  left: 20px;
  -moz-animation: dot-2-cycle 3s infinite linear;
  -o-animation: dot-2-cycle 3s infinite linear;
  -webkit-animation: dot-2-cycle 3s infinite linear;
  animation: dot-2-cycle 3s infinite linear;
}
.html-logo .dots .dot-3 {
  top: 20px;
  left: 20px;
  -moz-animation: dot-3-cycle 3s infinite linear;
  -o-animation: dot-3-cycle 3s infinite linear;
  -webkit-animation: dot-3-cycle 3s infinite linear;
  animation: dot-3-cycle 3s infinite linear;
}
