
<div class="section section-min">
	<div class="social">
		<ul>
			{% if site.twitter_url %}					
			<li><a href="{{ site.twitter_url }}" target="_blank"><span class="ti-twitter-alt"></span></a></li>
			{% endif %}
			{% if site.googleplus_url %}
			<li><a href="{{ site.googleplus_url }}" target="_blank"><span class="ti-google-plus"></span></a></li>
			{% endif %}
			{% if site.facebook_url %}
			<li><a href="{{ site.facebook_url }}" target="_blank"><span class="ti-facebook"></span></a></li>
			{% endif %}
			{% if site.instagram_url %}
			<li><a href="{{ site.facebook_url }}" target="_blank"><span class="ti-facebook"></span></a></li>
			<li><a href="{{ site.instagram_url }}" class="icon alt fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
			{% endif %}
			{% if site.github_url %}
			<li><a href="{{ site.github_url }}" target="_blank"><span class="ti-github"></span></a></li>
			{% endif %}
			{% if site.slack_url %}
			<li><a href="{{ site.slack_url }}" target="_blank"><span class="ti-github"></span></a></li>
			{% endif %}
			{% if site.linkedin_url %}
			<li><a href="{{ site.linkedin_url }}" target="_blank"><span class="ti-linkedin"></span></a></li>
			{% endif %}
			{% if site.stackoverflow_url %}
			<li><a href="{{ site.stackoverflow_url }}" target="_blank"><span class="ti-stack-overflow"></span></a></li>
			{% endif %}
		</ul>
	</div>
</div>

<section id="contact" class="contact contact-with-map section">
	<div class="container">
		<div class="row">

			<div class="col-md-12 contact-introduction">
				<h2 class="text-center">Contact</h2>
				<!-- <p class="text-center inverse">Lorem ipsum dolor sit amet, consecteturadipisicing elit, sed do eiusmod tempor incididunt ut labore</p> -->
			</div>

			<div class="col-md-8 col-md-push-2">
				<div class="contact-data">
					<ul>
						<li><span class="ti-mobile icon"></span>{{ site.phone }}</li>
						<li><span class="ti-email icon"></span>{{ site.email }}</li>
						<li><span class="ti-skype icon"></span>@{{ site.skype }}</li>
					</ul>
				</div>

				<div class="contact-form">
					<form method="POST" action="https://formspree.io/{{ site.email }}">
						<div class="form-group">
							<input type="text" class="form-control" id="name" name="name" placeholder="Name" required>
						</div>
						<div class="form-group">
							<input type="text" class="form-control" id="email" name="email" placeholder="Email" required>
						</div>
						<div class="form-group">
							<textarea class="form-control" id="message" placeholder="Message" maxlength="140" rows="7"></textarea>
						</div>

						<button type="button" id="submit" name="submit" class="btn btn-margin btn-primary btn-lg text-center">Submit your message</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="google-maps">
		<div id="map-canvas"></div>
	</div>
</section>

<div class="section section-min">
	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<img class="footer-logo" src="img/logo.png" alt="footer-logo">
					<p>&copy; {{ site.time | date: '%Y' }} The Pixel Forge</p>
				</div>
			</div>
		</div>
	</footer>
</div>


<!-- Scripts -->
<script src="/assets/js/vendor/jquery-1.11.2.min.js"></script>
<script src="/assets/js/vendor/swiper.min.js"></script>
<script src="/assets/js/vendor/bootstrap.min.js"></script>
<script src="/assets/js/vendor/jquery.countTo.js"></script>
<script src="/assets/js/vendor/jquery.filterizr.js"></script>
<script src="/assets/js/vendor/jquery.inview.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDUsyeHfU7zAwORkIJNvmOrH_Zxer7QD4"></script>
<script src="assets/js/main.js"></script>

