
<section class="post-list section" id="posts">
<div class="container overflow-hidden">
        <div class="row">
        <div class="col-md-12 portfolio-introduction">
                <h2 class="text-center">posts</h2>
                <p class="text-center inverse">
                        Some of the experiments from my spare time...
                </p>
        </div>

        <div class="post-slider-portfolio">
                <div class="swiper-wrapper">
                        
                {% for post in site.posts %}{% if post.type == 'post' %}

                <div class="swiper-slide">
                        <div class="post-entry wow fadeInUp">
                        <a href="{{ post.url }}" class="remote-modal" data-target="#posts-modal">
                                <span class="post-entry-cover" style="background-image:url({{ post.image }}); ">
                                </span>
                        </a>
                        <a class="h3" href="{{ post.url }}" class="remote-modal" data-target="#posts-modal">
                                {{ post.title }}
                        </a>
                        <p>
                                {{ post.description }}
                        </p>
                        <a href="{{ post.url }}" data-target="#posts-modal" class="post-entry-more remote-modal">read more</a>
                        </div>
                </div>
                {% endif %} {% endfor %}
                
                </div>

                <div class="post-portfolio-pagination text-center"></div>
                <div class="post-portfolio-slider-next right-arrow-negative">
                <span class="ti-arrow-right"></span>
                </div>

                <div class="post-portfolio-slider-prev left-arrow-negative">
                <span class="ti-arrow-left"></span>
                </div>
        </div>
        <!-- / BLOG MODAL -->
        <div id="posts-modal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content shadow">
                        <a class="close" data-dismiss="modal"><span class="ti-close"></span></a>
                        <div class="modal-body">
                        <div class="post-entry post-entry-modal remote-destination">
                            
                        </div>
                        </div>
                </div>
                </div>
        </div>
        <!-- / BLOG MODAL -->
        </div>
</div>
</section>
