/*Logo*/
.html-logo {
  position: relative;

    .name {
        font-size: 1.2em;
        display: inline;
    }
    .dots {
        display: inline-block;
        width: 40px;
        position: relative;
        top:10px;
    }

    .dots .dot-1,
    .dots .dot-2,
    .dots .dot-3{
        background: white;
        display: block;
        float: right;
        margin: 1px;
        width: 15px;
        height: 15px;
    }

}


@media (max-width: 767px) {
  .html-logo .dots {
    top: 0px;
  }
}
/*Animation*/
/*Animation/Dot-1*/
@keyframes dot-1-cycle {
  0%,
  68% {
    left: 0px;
    top: 0px;
  }
  84%,
  100% {
    left: 20px;
    top: 0px;
  }
}
/*Animation/Dot-2*/
@keyframes dot-2-cycle {
  0%,
  52% {
    left: 20px;
    top: 0px;
  }
  68%,
  100% {
    left: 20px;
    top: 20px;
  }
}
/*Animation/Dot-3*/
@keyframes dot-3-cycle {
  0%,
  36% {
    left: 20px;
    top: 20px;
  }
  52%,
  84% {
    left: 0px;
    top: 20px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}
.html-logo .dots {
  width: 40px;
  height: 40px;
}
.html-logo .dots .dot-1,
.html-logo .dots .dot-2,
.html-logo .dots .dot-3 {
  position: absolute!important;
}
.html-logo .dots .dot-1 {
  animation: dot-1-cycle 3s infinite linear;
}
.html-logo .dots .dot-2 {
  left: 20px;
  animation: dot-2-cycle 3s infinite linear;
}
.html-logo .dots .dot-3 {
  top: 20px;
  left: 20px;
  animation: dot-3-cycle 3s infinite linear;
}