<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% include header.html %} 
    
    
<!-- Main -->
<div id="main" class="alt">

<!-- One -->
<section id="one">
	<div class="inner">
		<header class="major">
			<h1>{{ page.title }}</h1>
		</header>
		{% if page.main_image %}<span class="image main"><img src="{{ site.baseurl }}/{{ page.main_image }}" alt="" /></span>{% endif %}
		<p>{{ content }}</p>
	</div>
</section>


{% if page.comments %}
<div class="content content-light">
	<div class="inner">
		<div id="disqus_thread"></div>
		<script>
			(function() { // DON'T EDIT BELOW THIS LINE
			var d = document, s = d.createElement('script');
			s.src = '//pixelforge.disqus.com/embed.js';
			s.setAttribute('data-timestamp', +new Date());
			(d.head || d.body).appendChild(s);
			})();
			</script>
			<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		</div>
	</div>
</div>
{% endif %}                         



    {% include footer.html %}

</body>

</html>